@font-face {
	font-family: 'MuseoModerno';
	src: url('../font/MuseoSansCyrl-700.woff2') format('woff2'), 
	 url('../font/MuseoSansCyrl-700.woff') format('woff');
	 font-weight: 700;
 }
 @font-face {
	font-family: 'MuseoModerno';
	src: url('../font/MuseoSansCyrl-500.woff2') format('woff2'), 
	url('../font/MuseoSansCyrl-700.woff') format('woff');
	font-weight: 300;
 }
 @font-face {
	font-family: 'MuseoModerno';
	src: url('../font/MuseoSansCyrl-300.woff2') format('woff2'), 
	 url('../font/MuseoSansCyrl-300.woff') format('woff');
	 font-weight: 500;
 }
 