@import "base/variables";
@import "base/mixins";
@import "base/font";


* {
	font-family: 'MuseoModerno';
}
html {
	height: 100%;
}
body {
	height: 100%;
	
}
.container {
	max-width: 950px;
	padding: 0px 15px 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
	
}

@import "blocks/buttons";
@import "blocks/title";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/benefits";
@import "blocks/consultation";
@import "blocks/form";

