.carousel
	.container
		.slider
			.slider__line
				img(src="img/slide_1.jpg", alt="Слайд1") 
				img(src="img/slide_2.jpg", alt="Слайд2") 
				img(src="img/slide_3.jpg", alt="Слайд3")
				img(src="img/slide_4.svg", alt="Слайд4")
		button.slider-prev Prev
		button.slider-next Next
