.carousel
	.container
		.slider
			.slider__line
				.slider__img
					img(src="img/slide_1.jpg", alt="Слайд1") 
				.slider__img
					img(src="img/slide_2.jpg", alt="Слайд2") 
				.slider__img
					img(src="img/slide_3.jpg", alt="Слайд3")
				.slider__img
					img(src="img/slide_4.svg", alt="Слайд4")
		button.slider-prev Prev
		button.slider-next Next
