section.consultation
	.container 
		h2.title-section.title-section_left 
			| Получите бесплатную консультацию
			br
			| по подбору пульсометра 
		.consultation__desc 
			| Просто заполните форму заявки
			br
			| мы перезвоним вам в течении 10 
		form(action="#").feed-form
			input( name="name" required type="text" placeholder="Ваше имя" )
			input( name="phone" required
			 type="number" placeholder="Ваше телефон" )
			input( name="email" required type="email" placeholder="Ваш E-mail" )
			button.button.button_submit заказать кОНСУЛЬТАЦИЮ

