.container 
	header.header 
		a(href="#").header__logo 
			img(src="icons/logo.png", alt="logotip")
		.header__official 
			| Официальный представитель
			span 
				| Garmin, Polar, Suunto
		.header__contacts
			a(href="tel:+74999228974").header__phone +7 (499) 922-89-74
			button.button заказать звонок
		