header.header
	.container
		.header__menu
			.header__logo 
				a(href="#") 
					img(src="img/logo.png", alt="logo")
			.header__representative.representative
				.representative__oficial Официальный представитель
				.representative__firm Garmin, Polar, Suunto
			.header__contact.contact
				a(href="tel:+74999228974").contact__phone +7 (499) 922-89-74
				.btn
					button заказать звонок
		