.container
	.promo__wrapper
		h1.promo__header Подбор пульсометра
		h2.promo__subheader с учётом Вашего уровня подготовки
		.promo__icons 
			.promo__icon
				img(src="icons/main_screen/timer.png", alt="часы")
				p Время подбора: 10 минут
			.promo__icon
				img(src="icons/main_screen/hand-cart.png", alt="тележка")
				p Бесплатная доставка
			.promo__icon
				img(src="icons/main_screen/messages.png", alt="сообщение")
				p Ответим на все вопросы
		button.button.button_main заказать кОНСУЛЬТАЦИЮ
		.promo__link 
			| или
			| 
			a(href="#") ПЕРЕЙТИ В КАТАЛОГ

