
section.section-1 
	.container
		.promo-content
			.promo-content__title
				h1 Подбор пульсометра
			.promo-content__subtitle 
				h2 с учётом Вашего уровня подготовки
			.promo-content__blok-ikon.blok-ikon 
				.blok-ikon__ikon
					img(src="img/timer.png", alt="изображение секундомера")
					.blok-ikon__text 
						|	Время подбора:10 минут
				.blok-ikon__ikon
					img(src="img/hand-cart.png", alt="изображение секундомера")
					.blok-ikon__text
						|	Бесплатная доставка
				.blok-ikon__ikon
					img(src="img/messages.png", alt="изображение секундомера")
					.blok-ikon__text
						|	Ответимна все вопросы
				
			.promo-content__button.btn 
				button.btn заказать кОНСУЛЬТАЦИЮ
			.promo-content__link или 
				a(href="#") ПЕРЕЙТИ В КАТАЛОГ
		
		

