.carousel {
	padding: 81px 0px 81px 0px;
	.slider {
		border: 2px solid #000;
		max-width: 80%;
		margin: 20px auto;
		overflow: hidden;
		&__line {
			display: flex;
			background-color: orangered;
			transition: all ease 1s;
		}
	}
	
}
