
.promo {
	min-height: 650px;
	padding: 21px 0px 93px 0px;
	background: url(../img/main.jpg) center (center/cover) no-repeat;
	@media (max-width: 400px){
		padding: 10px 0px 40px 0px;
		min-height: 550px;
	}
	&__wrapper {
		margin: 90px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@media (max-width: 660px){
			align-items: center;
		}
		@media (max-width: 400px){
			margin: 45px 0px 0px 0px;
		}
	}
	&__header {
		color: #fff;
		font-size: 42px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 42px;
		@media (max-width: 576px){
			font-size: 36px;
		}
		@media (max-width: 480px){
			font-size: 30px;
		}
		@media (max-width: 400px){
			font-size: 26px;
		}
	}
	&__subheader {
		margin-top: 17px;
		color: #fff;
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 24px;
		@media (max-width: 576px){
			font-size: 20px;
		}
		@media (max-width: 480px){
			font-size: 16px;
		}
		@media (max-width: 400px){
			font-size: 12px;
		}
	}
	&__icons {
		margin-top: 65px;
		width: 425px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 480px){
			width: 350px;
		}
		@media (max-width: 400px){
			flex-direction:column;
			width: 80%;
			margin-top: 30px;
		}
	}
	&__icon {
		width: 108px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		@media (max-width: 400px){
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;
			width: 100%;
			margin-bottom: 20px;
		}
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
			@media (max-width: 400px){
				margin: 0px 0px 0px 0px;
			}
		}
	}
	&__link {
		color:  #fff;
		font-size: 16px;
		font-weight: 500;
		margin-top: 18px;
		a {
			color:  #fff;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}
	
}

